.advertise_banner img{
	width: 100%;
}
.advertise_info{
	margin: 5rem 0 0 0;
}
.advertise_info .jianli{
	font-family: "microsoft yahei";
	font-size: 1.64rem;
	color: ##33;
}
.advertise_info .jianli span{
	color:#ad8727 ;
	font-weight: bold;
}
.job_list{
	padding: 4rem;
	box-shadow:0 0 1rem rgba(0, 0, 0, 0.38);
	border-radius: 0.4rem;
	margin-top: 2rem;
}
.advertise_info hr{
	border:0;
	background-color:#ad8727;
	height:1px;
	margin-bottom: 0;
	margin-top: 15px;
}
.advertise_info .job_list .line{
	margin-top: 4px;
}
.advertise_info .title{
	border-left: 5px solid #ad8727;
	padding-left: 1.5rem;
}
.advertise_info .job_list h3{
	font-size: 2.5rem;
	font-family: "microsoft yahei";
}
.advertise_info .job_list p{
	margin-top: 3rem;
}
.advertise_info .job_list b,.advertise_info .job_list span{
	display: block;
	color: #d09d00;
	font-size: 1.66rem;
	font-family: "microsoft yahei";
	font-weight: bold;
}
.advertise_info .job_list span{
	color: #595653;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 2.2rem;
}
.advertise_info .job_list:last-child{
	margin-top: 5rem;
}
