/*2017-8-28*/
.culture_banner img{
	width: 100%;
}
.culture ul{
	padding: 8rem 0 0 0;
}
.culture ul li{
	padding: 0;
}
.culture ul p{
	font-size: 1.6rem;
    font-family: "microsoft yahei";
    color: #333;
    padding: 1rem 2rem;
}
@media (max-width: 414px){
	.culture li img{
		width: 35%;
    	margin-left: 2rem;
	}
	.culture_banner{
		overflow: hidden;
	}
	.culture_banner img {
    width: 58rem;
    margin-left: -15rem;
	}
	.culture ul{
		padding-top: 4rem;
	}
}
