.development_banner img{
	width: 100%;
}
.development_history .container {
	padding: 0;
}
.development_history p b{
    display: block;
    color: #f3d167;
    font-size: 2.2rem;
    font-family: "microsoft yahei";
    font-weight: bold;
}
.development_history p span{
    color: #fff;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2.2rem;
    display: block;
   
}
.development_history .cont img{
	display: block;
	margin: 0 auto;
}
.development_history .cont{
	position: relative;
}
.development_history .cont p{
	position: absolute;
}
.development_history .cont p:nth-child(2){
    top: 23%;
    left: 54%;
}
.development_history .cont p:nth-child(3){
    top: 40%;
    right: 55%;
    text-align: right;
}
.development_history .cont p:nth-child(4){
    top: 61.2%;
    left: 54.5%;
}
.development_history .cont p:nth-child(5){
    top: 78%;
    right: 55%;
    text-align: right;
}
.development_history .cont p:nth-child(6){
    top: 95%;
    left: 54%;
    text-align: right;
}
.development_history .prompt{
    text-align: center;
    font-size: 2.1rem;
    margin: 2rem 0 7rem 0;
    font-family: "microsoft yahei";
    font-weight: bold;
    color:#f3d167;
}
.developmentTitle{
	display: block;
	margin: 6rem auto 3rem auto;
}
.box{
	background:url(../img/developmentBA.jpg) center;
	background-size: auto 100%;
}
@media (max-width: 768px){
	.development_history .cont{
		width: 92%;
		margin: 0 auto;
	}
	.development_history .container{
		/*box-shadow: none;*/
		margin-top: 0;
	}
	.developmentTitle{
		width: 50%;
	}
}
@media (max-width: 414px){
	.development_banner img{
		width: 58rem;
    	margin-left: -17rem;
	}
	.development_banner{
		overflow: hidden;
	}
}
