/*2017-8-24*/
/*首页banner样式*/
.banner_box img {
	width: 100%;
}

/*标语条样式*/
.slogan_cont{
	padding: 1rem 0;
	border-bottom: 1px solid #c9c9c9;
}
.slogan_cont ul{
	margin-bottom: 0;
	overflow: hidden;
	padding: 0;
}
.slogan_cont li{
    border-right: 1px solid #ccc;
    text-align: center;
    padding: 1.2rem 0;
}
.slogan_cont li:nth-child(4){
	border: none;
}
.slogan_cont .slider{
	border: none;
}
.slogan_cont li img{
	width: 3.8rem;
    margin-top: -2.5rem;
    margin-right: 1rem;
}
.slogan_cont li span{
	display: inline-block;
    color: #333;
    font-family: "microsoft yahei";
    font-size: 1.7rem;
}
.slider{
    width: 25%;
    height: 77px;
    background-color: rgba(67, 130, 255, 0.12);
    margin-left: -25%;
}

/*我们的服务样式*/
body{
	background: url(../img/indexBa.jpg) no-repeat bottom center;
}
.tianniTitle span:before{
    background: url(../img/leftLine01.png) no-repeat center;
  
}
.tianniTitle span:after{
    background: url(../img/rightLine01.png) no-repeat center;
}
.our_service{
	margin-bottom: 19rem;
}
.our_service .container {
	padding: 0;
}
.service_list img{
	width: 100%;
}
.service_list{
	margin-top: 6rem;
}
.service_list li p{
	box-shadow:0 0 1rem rgba(0, 0, 0, 0.58);
	background-color: #fff;
}
.service_list .discribtion span{
    display: block;
    padding: 2.5rem 1.5rem;
}
.service_list .discribtion span{
	font-family: "microsoft yahei";
    color: #666;
    font-size: 1.46rem;
    line-height: 2.2rem;
    height: 18rem;
}
.service_list .discribtion b{
	color: #333;
	font-size: 1.9rem;
	font-family: "microsoft yahei";
	font-weight: bold;
}

@media (max-width:1200px ){
	.service_list .discribtion span{
		height: 20rem;
	}
}
@media (max-width:991px ) and (min-width:550px){
	.our_service .container{
	width: 80%;
	}
}
@media (max-width: 991px){
	.service_list li{
		margin-bottom: 2rem;
	}
	.service_list .discribtion span{
		height: auto;
	}
	.service_list{
		width:85%;
		margin:0 auto
	}
	.slogan_cont li{
		border: none;
		border-bottom: 1px solid #ccc;
	}
}
@media (max-width: 767px){
	.slider{
		display: none;
	}
	.slogan_cont{
		border: none;
	}
}
@media (max-width: 414px){
	.service_list{
		width:100%;
	}
	.banner_box img {
	    width: 53rem;
	    margin-left: -9rem;
	}
	.banner_box{
		overflow: hidden;
		text-align: center;
	}
	.slogan_cont li span{
		font-size: 1.6rem;
	}
}
@media (max-width: 320px){
	.banner_box img {
	    width: 53rem;
	    margin-left: -11.5rem;
	}
}
