/*.banner_box img{
	width: 100%;
}*/
.banner_box {
	position: relative;
}

.banner_info {
	/*position: absolute;*/
	top: 12%;
	left: 0;
	text-align: center;
	width: 100%;
	color: #fff;
	padding-top: 5rem;
}

.banner_info h4,
.banner_info h4 b {
	font-size: 4.6rem;
	font-family: "microsoft yahei";
	font-weight: bold;
	letter-spacing: 0.3rem;
}

.banner_info h4 b {
	color: #fadb7e;
	font-size: 5.8rem;
}

.banner_info p {
	    font-size: 1.8rem;
    font-family: "microsoft yahei";
    width: 59%;
    margin: 2rem auto;
    padding: 2.4rem 5rem;
    border: 1px solid #ccc;
	/*产品要素*/
}

.product_ele .contacts {
	margin: 3rem 0;
}

.product_ele .contacts span {
	color: #fff;
	font-size: 1.9rem;
	font-weight: bold;
	letter-spacing: 0.2rem;
	border-right: 0.3rem solid #fff;
	display: inline-block;
	padding: 0 2rem 0 0.5rem;
	line-height: 3rem;
	float: left;
}

.product_ele .contacts b {
	color: #fff;
	font-size: 2.5rem;
	display: inline-block;
	line-height: 6rem;
	height: 6rem;
	float: left;
	margin-left: 2rem;
}

body {
	background: url(../img/productBK.jpg) no-repeat top center;
	background-size:auto  100%;
}

.product_ele .contacts_list {
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

.contacts_list .left {
	font-size: 3rem;
	color: #fff;
	padding: 26.5rem 3rem;
	text-align: center;
	font-weight: bold;
	background-color: #222;
	line-height: 5rem;
}
/*.contacts_list .left i{
    transform: rotate(90deg);
    display: block;
}*/

.contacts_list .right {
	padding: 0;
}

.contacts_list .right b {
	display: block;
	float: left;
	font-size: 1.55rem;
	font-weight: bold;
	width: 20%;
	border-right: 0.4rem solid #F0F0F0;
	font-family: "microsoft yahei";
	padding-left: 6rem;
	height: 100%;
}

.contacts_list .right span {
	display: block;
	float: left;
	font-size: 1.5rem;
	width: 80%;
	padding-left: 5rem;
	color: #333;
	font-family: "microsoft yahei";
}

.contacts_list .right p {
	margin-bottom: 0;
	height: 5rem;
}

.contacts_list .right p:last-child b,
.contacts_list .right p:last-child span {
	padding-bottom: 3rem;
}
.contacts_list .right p:first-child b,
.contacts_list .right p:first-child span {
	padding-top: 3rem;
}
.contacts_list .right p:first-child{
	height: 8rem;
}
@media (max-width: 1890px) {
	.banner_info p {
		width: 60%;
		padding: 1.5rem;
	}
	.banner_box {
		overflow: hidden;
	}
}

@media (max-width: 1199px) {
	.contacts_list .left {
		padding: 26.5rem 2rem;
	}
	.contacts_list .right b{
		padding-left: 4rem;
	}
}

@media (max-width: 1024px) {
	.banner_info p {
		width: 90%;
	}
}

@media (max-width: 991px) {
	.contacts_list .left {
		padding: 0rem;
		font-size: 2.8rem;
	}
	.contacts_list .right b{
		padding-left: 3rem;
	}
	.contacts_list .left i{
	    transform: rotate(0deg);
	    display: inline;
	}
}

@media (max-width: 767px) {
	.banner_info h4 {
		font-size: 2.6rem;
	}
	.banner_info h4 b {
		font-size: 3.6rem;
	}
	.banner_info p {
		font-size: 1.5rem;
	}
	.product_ele .contacts_list{
		width: 100%;
		margin: 0 auto;
	}
	.contacts_list .right b {
	    font-size: 1.5rem;
	    width: 30%;
	}
	.contacts_list .right span{
		width: 70%;
		padding:0 0.5rem;
	}
	.contacts_list .right b{
		padding-left: 2rem;
	}
}

@media (max-width: 414px) {
	.banner_info {
		top: 8%;
	}
	.product_ele .contacts span {
		font-size: 1.6rem;
		letter-spacing: 0rem;
		padding: 0 1rem 0 0.5rem;
		line-height: 2rem;
	}
	.product_ele .contacts b {
		font-size: 2rem;
		line-height: 4rem;
		height: 4rem;
		margin-left: 1rem;
	}
	.product_ele .contacts {
		margin: 4rem 0;
	}
	.contacts_list .right p {
		height: 6rem;
	}
	.contacts_list .right span{
		font-size: 1.4rem;
	}
	.contacts_list .right b{
		font-size: 1.4rem;
	}
	.container{
		padding:0 5px;
	}
	.contacts_list .right p:first-child{
		height: 9rem;
	}
	.contacts_list .right b{
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}
